<div class="inline-block float-left mt10">
    Hiển thị số dòng <span class="page-lengthOfPage">
        <span class="">
            <select class="" name="PageLength" style="margin: 0 12px"></select>
        </span>
    </span>
    <span class="page-startCurrent">
        <span name="StartIndex">0</span>
    </span>
    -
    <span class="page-endCurrent">
        <span name="EndIndex">0</span>
    </span> trên tổng số
    <span class="page-lengthTotal">
        <span name="TotalRows"></span>
    </span> dòng
</div>
<div class="text-right mb5px pagination-page">
    <div style="display: flex;justify-content: flex-end;">
        <span style="display: flex;padding-top: 10px;padding-right: 10px;align-items: center;column-gap: 12px">
            Trang
            <select class="" name="PageNumber"></select>
            trên tổng <span name="TotalPage"></span> trang
        </span>
        <ul class="pagination" style="display: flex;justify-content: flex-end;align-items: center;column-gap: 8px">
            <li class="cursor btn p-0 prev-page" style="border-radius: 0px"><span><i class="fa fa-angle-double-left"></i></span></li>
            <li class="cursor btn next-page"><span><i class="fa fa-angle-double-right"></i></span></li>
        </ul>
    </div>
</div>