
<div class="modal modal-edit left fade" id="UserInfo" role="dialog" aria-labelledby="exampleModalLabel" data-bs-keyboard="true" aria-bs-hidden="true" data-bs-backdrop="static" style="padding-top: 42px !important;">
    <div class="modal-dialog modal-md modal-dialog-slideout" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    Thông tin người dùng
                </h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="icon-close-ico-tsd"></i>
                </button>
            </div>
            <div class="modal-body" style="background-color: #FBFBFB">
                <div class="modal-body-content" style="padding: 16px; background-color: #FFFFFF;height: 100%;">
                    <form id="UserInfoForm">
                        <input name="Id" class="hidden" value=""/>
                        <div class="row">
                            <div class="col-md-12">Tài khoản <span class="red">*</span></div>
                        </div>
                        <div class="mt6 mb16 row">
                            <div class="col-md-12">
                                <input name="UserName" type="text" placeholder="Nhập nội dung" class="wid100" maxlength="255" value="" disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Tên đầy đủ <span class="red">*</span></div>
                            <div class="col-md-6">Ngày sinh</div>
                        </div>
                        <div class="mt6 mb16 row">
                            <div class="col-md-6">
                                <input name="FullName" type="text" placeholder="Nhập nội dung" class="wid100" maxlength="255" value="" />
                            </div>
                            <div class="col-md-6">
                                <div class="inline-block input-group is_Datetimepicker">
                                    <input name="Birthday" placeholder="dd/mm/yyyy" class="w-100 item-search input-date form-control-sm" value="">
                                    <span class="input-group-addon cursor">
                                        <span class="icon-calendar-ico-tsd"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">Email <span class="red">*</span></div>
                            <div class="col-md-6">Điện thoại</div>
                        </div>
                        <div class="mt6 mb16 row">
                            <div class="col-md-6">
                                <input name="Email" type="text" placeholder="Nhập nội dung" class="wid100" maxlength="255" value="" />
                            </div>
                            <div class="col-md-6">
                                <input name="Phone" type="text" placeholder="Nhập nội dung" class="wid100" maxlength="255" value="" />
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="icon-close-ico-tsd"></i><span class="ml8">Đóng</span></button>
                <button type="button" class="btn btn-primary" id="btn-save"><i class="icon-save-ico-tsd"></i><span class="ml8">Lưu lại</span></button>
            </div>
        </div>
    </div>
</div>