
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link ">
                <i class="nav-icon fas fa-tags"></i> <p>Menu cha <i class="right fa fa-angle-left"></i></p>
            </a>

            <ul class="nav nav-treeview">
                <li class="nav-item" title="Menu con 1">
                    <a href="#" class="nav-link">
                        <p style="padding-left: 26px;line-height: 18px">Menu con 1</p>
                    </a>
                </li>
                <li class="nav-item" title="Menu con 2">
                    <a href="#" class="nav-link">
                        <p style="padding-left: 26px;line-height: 18px">Menu con 2</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tags"></i>
                <p>
                    Menu đơn 1
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tags"></i>
                <p>
                    Menu đơn 2
                </p>
            </a>
        </li>
    </ul>
</nav>