@{
    ViewBag.Title = "Trang chủ";
}

<style>
    .card {
        background-image: url('../../Content/image/bg-home.jpg');
        height: 100%;
        width: 87%;
        display: block;
        position: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="card">

</div>