
@{
    ViewBag.Title = "Thông tin đặt chỗ";
}

<div class="mx-ecus">
    <div class="card">
        <div class="card-header">
            <div class="card-title bold">@ViewBag.Title</div>
            <div class="card-right">
                @*<button class="btn btn-primary" id="btn-add" type="button" data-bs-toggle="modal" data-bs-target="#ImportExcel"><i class="fa fa-file-excel-o"></i><span class="ml8">Import Excel</span></button>
                    <button class="btn btn-success" id="btn-add" type="button"><i class="fa fa-file-excel"></i><span class="ml8">Export Excel</span></button>*@
            </div>
        </div>
        <div class="card-body" style="max-height: 929px;">
            <div class="frame-header">
                <div class="frame-search">
                    Từ ngày&nbsp;
                    <div class="inline-block input-group is_Datetimepicker">
                        <input name="StartDate" placeholder="dd/mm/yyyy" class="wid100px item-search input-date form-control-sm" value="@DateTime.Today.ToString("dd/MM/yyyy")">
                        <span class="input-group-addon cursor">
                            <span class="icon-calendar-ico-tsd"></span>
                        </span>
                    </div>
                    &nbsp;đến&nbsp;
                    <div class="inline-block input-group is_Datetimepicker">
                        <input name="EndDate" placeholder="dd/mm/yyyy" class="wid100px item-search input-date form-control-sm" value="@DateTime.Today.ToString("dd/MM/yyyy")">
                        <span class="input-group-addon cursor">
                            <span class="icon-calendar-ico-tsd"></span>
                        </span>
                    </div>
                    <input class="item-search wid200px" autocomplete="off" name="HoTen" placeholder="Họ tên" />
                    <input class="item-search wid200px" autocomplete="off" name="SoHieu" placeholder="Số hiệu chuyến bay" />
                    <button class="btn btn-primary btnSearch" type="button"><i class="icon-search-ico-tsd"></i></button>
                </div>
            </div>
            <div class="frame-body has-scroll">
                <table class="width100" id="TBLDANHSACH">
                    <thead>
                        <tr>
                            <th class="text-center width75px">STT</th>
                            <th class="text-center">Mã đặt chỗ</th>
                            <th class="text-center">Ngày đặt chỗ</th>
                            <th class="text-center">Số chuyến bay</th>
                            <th class="text-center">Ngày bay</th>
                            <th class="text-center">Mã cảng đi</th>
                            <th class="text-center">Mã cảng đến</th>
                            <th class="text-center">Tên hành khách</th>
                            <th class="text-center">Mã người đặt</th>
                            <th class="text-center">Dịch vụ đặc biệt</th>
                            <th class="text-center">Hành lý</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="frame-footer">
                @Html.Partial("_PaginationPartial")
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var $header = $('.frame-search');
        const $footer = $('.frame-footer');
        const $table = $('#TBLDANHSACH');
        const $tableBody = $table.find('tbody');
        const $modal = $('#CHITIET');
        const $modalUser = $('#UserRole');
        const $router = "DDatCho";
        const $form = $('#ModalForm');


        function DataSearch(pageNum) {
            this.StartDate = formatDateFromClientToServerEN($header.find('[name=StartDate]').val());
            this.EndDate = formatDateFromClientToServerEN($header.find('[name=EndDate]').val());
            this.SoGiayTo = $header.find('[name=SoGiayTo]').val();
            this.SoHieu = $header.find('[name=SoHieu]').val();
            this.PageNum = pageNum || $footer.find('[name=PageNumber]').val();
            this.PageSize = $footer.find('[name=PageLength]').val();
        }

        $(function () {
            var $page = {
                init: function () {
                    $page.BtnSearchClick();
                    $page.GetList(1);
                },
                Self: $('.card'),
                BtnSearchClick: function () {
                    $header.find('.btnSearch').on('click', function () { $page.GetList(1); });
                },
                GetList: function (pageNum = 1) {

                    let html = '';
                    let search = new DataSearch(pageNum);

                    var getResponse = AjaxConfigHelper.SendRequestToServer(`/${$router}/GetTable`, "GET", search);
                    getResponse.then((res) => {
                        if (res.IsOk) {
                            let data = res.Body.Data || [];

                            if (data.length == 0) {
                                html = `<tr><td class="text-center" colspan="11"><span>Không có bản ghi</span></td></tr>`;
                                $tableBody.html(html);
                                return false;
                            }

                            let startIndex = res.Body.Pagination.StartIndex || 1;
                            for (let item of data) {
                                html += `<tr class="TR_${item.SOGIAYTO}">` +
                                    `<td class="text-center"><span>${startIndex}</span></td>` +
                                    `<td class="text-center">${item.FI_MADATCHO}</td>` +
                                    `<td class="text-center">${formatDateFromServer(item.FI_NGAYDATCHO)}</td>` +
                                    `<td class="text-center">${item.FI_SOCHUYENBAY}</td>` +
                                    `<td class="text-center">${formatDateFromServer(item.FI_NGAYBAY)}</td>` +
                                    `<td class="text-center">${item.FI_MACANGHANGKHONGDI}</td>` +
                                    `<td class="text-center">${item.FI_MACANGHANGKHONGDEN}</td>` +
                                    `<td class="">${item.FI_TENHANHKHACH}</td>` +
                                    `<td class="">${item.FI_MANGUOIDATCHO}</td>` +
                                    `<td class="text-center">${item.FI_DICHVUDACBIET}</td>` +
                                    `<td class="text-center">${item.FI_THONGTINHANHLY}</td>` +
                                    `</tr>`;
                                startIndex++;
                            }
                            $tableBody.html(html);

                            $pagination.Set($footer, res.Body.Pagination, $page.GetList);
                        }
                        else {

                        }
                    })
                }
            };


            $page.init();
        });

    </script>
}