@using WebNoiBai.Models
@{
    ViewBag.Title = "Đối tượng trọng điểm";

    var db = new DataXNCEntities();
    var lstDauHieu = db.SDauHieuRuiRoes.Select(x => x.DauHieu).ToList();
}

<div class="mx-ecus">
    <div class="card">
        <div class="card-header">
            <div class="card-title bold">@ViewBag.Title</div>
            <div class="card-right">
                <button class="btn btn-primary" id="btn-add" type="button" data-bs-toggle="modal" data-bs-target="#CHITIET"><i class="icon-add-ico-tsd"></i><span class="ml8">Thêm mới</span></button>
            </div>
        </div>
        <div class="card-body" style="max-height: 929px;">
            <div class="frame-header">
                <div class="frame-search">
                    <input name="Ma" placeholder="Số giấy tờ" class="width180px item-search" autocomplete="off" />
                    <input name="Ten" placeholder="Họ tên" class="item-search wid240px" autocomplete="off" />
                    <button class="btn btn-primary btnSearch" type="button"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="frame-body has-scroll" style="">
                <table class="width100" id="TBLDANHSACH">
                    <thead>
                        <tr>
                            <th class="width75px text-center">STT</th>
                            <th class="width70px text-center">Thao tác</th>
                            <th class="text-center">Họ và tên</th>
                            <th class="text-center">Số giấy tờ</th>
                            <th class="text-center">Ngày sinh</th>
                            <th class="text-center">Giới tính</th>
                            <th class="text-center">Dấu hiệu rủi ro</th>
                            <th class="text-center">Yêu cầu nghiệp vụ</th>
                            <th class="text-center">Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="frame-footer">
                @Html.Partial("_PaginationPartial")
            </div>
        </div>
    </div>
</div>

<div class="modal modal-edit left fade" id="CHITIET" role="dialog" aria-labelledby="exampleModalLabel" data-bs-keyboard="true" aria-bs-hidden="true" data-bs-backdrop="static" style="padding-top: 42px !important;">
    <div class="modal-dialog modal-md modal-dialog-slideout" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    Thông tin hành khách
                </h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="icon-close-ico-tsd"></i>
                </button>
            </div>
            <div class="modal-body" style="background-color: #FBFBFB">
                <div class="modal-body-content" style="padding: 16px; background-color: #FFFFFF;height: 100%;">
                    <form id="ModalForm">
                        <input name="Id" class="hidden" value="" />

                        <div class="row mb6">
                            <div class="col-md-6">Số giấy tờ <span class="red">*</span></div>
                            <div class="col-md-3">Loại giấy tờ <span class="red">*</span></div>
                        </div>
                        <div class="mb16 row">
                            <div class="col-md-6">
                                <input name="SoGiayTo" type="text" placeholder="Nhập nội dung" class="wid100" maxlength="50" value="" autocomplete="off" />
                            </div>
                            <div class="col-md-3">
                                <input name="LoaiGiayTo" type="text" placeholder="Nhập nội dung" class="wid100" maxlength="50" value="" autocomplete="off" />
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary" id="btn-getinfo">Lấy thông tin HK</button>
                            </div>
                        </div>

                        <div class="row mb6">
                            <div class="col-md-12">Họ tên<span class="red">*</span></div>
                        </div>
                        <div class="mb16 row">
                            <div class="col-md-12">
                                <input name="HoTen" type="text" autocomplete="off" placeholder="Nhập nội dung" class="wid100" value="" />
                            </div>
                        </div>


                        <div class="row mb6">
                            <div class="col-md-4">Ngày sinh</div>
                            <div class="col-md-4">Giới tính</div>
                            <div class="col-md-4">Quốc tịch</div>
                        </div>
                        <div class="mb16 row">
                            <div class="col-md-4">
                                <div class="inline-block input-group is_Datetimepicker">
                                    <input name="NgaySinh" placeholder="dd/mm/yyyy" class="w-100 item-search input-date form-control-sm" value="">
                                    <span class="input-group-addon cursor">
                                        <span class="icon-calendar-ico-tsd"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 padTop10px radio-group">
                                <label class="mr8"><input type="radio" class="ace cb" name="GioiTinh" id="M" data-value="M" checked><span class="lbl">&nbsp;Nam</span></label>
                                <label class="ml8"><input type="radio" class="ace cb" name="GioiTinh" id="F" data-value="F"><span class="lbl">&nbsp;Nữ</span></label>
                            </div>
                            <div class="col-md-4">
                                <input name="QuocTich" type="text" autocomplete="off" placeholder="Nhập nội dung" class="wid100" value="" />
                            </div>
                        </div>

                        <div class="row mb6">
                            <div class="col-md-12">Dấu hiệu rủi ro</div>
                        </div>
                        <div class="mt6 mb16 row">
                            <div class="col-md-12">
                                <select name="DauHieuRuiRo" class="wid100">
                                    @foreach (var item in lstDauHieu)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="row mb6">
                            <div class="col-md-12">Yêu cầu nghiệp vụ</div>
                        </div>
                        <div class="mt6 mb16 row">
                            <div class="col-md-12">
                                <textarea name="YeuCauNghiepVu" rows="2" class="wid100" maxlength="500"></textarea>
                            </div>
                        </div>

                        <div class="row mb6">
                            <div class="col-md-12">Ghi chú</div>
                        </div>
                        <div class="mt6 mb16 row">
                            <div class="col-md-12">
                                <textarea name="GhiChu" rows="2" class="wid100" maxlength="500"></textarea>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-times"></i><span class="ml8">Đóng</span></button>
                <button type="button" class="btn btn-primary" id="btn-save"><i class="fa fa-save"></i><span class="ml8">Lưu lại</span></button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var $header = $('.frame-search');
        const $footer = $('.frame-footer');
        const $table = $('#TBLDANHSACH');
        const $tableBody = $table.find('tbody');
        const $modal = $('#CHITIET');
        const $router = "SDoiTuongTrongDiem";
        const $form = $('#ModalForm');


        function DataSearch(pageNum) {
            this.Ma = $header.find('[name=Ma]').val().trim();
            this.Ten = $header.find('[name=Ten]').val().trim();
            this.PageNum = pageNum || $footer.find('[name=PageNumber]').val();;
            this.PageSize = $footer.find('[name=PageLength]').val();
        }

        $(function () {
            var $page = {
                init: function () {
                    $page.initValidate();
                    $page.BtnSearchClick();
                    $page.GetList(1);
                },
                initValidate: function () {
                    $form.validate({
                        rules: {
                            HoTen: {
                                required: true
                            },
                            SoGiayTo: {
                                required: true
                            },
                            LoaiGiayTo: {
                                required: true
                            }
                        },
                        messages: {
                            HoTen: {
                                required: "Họ tên không được để trống"
                            },
                            SoGiayTo: {
                                required: "Số giấy tờ không được để trống"
                            },
                            LoaiGiayTo: {
                                required: "Loại giấy tờ không được để trống"
                            }
                        }
                    })
                },
                Self: $('.card'),
                BtnSearchClick: function () {
                    $header.find('.btnSearch').on('click', function () { $page.GetList(1); });
                },
                GetList: function (pageNum = 1) {

                    let html = '';
                    let search = new DataSearch(pageNum);

                    var getResponse = AjaxConfigHelper.SendRequestToServer(`/${$router}/GetTable`, "GET", search);
                    getResponse.then((res) => {
                        if (res.IsOk) {
                            let data = res.Body.Data || [];

                            if (data.length == 0) {
                                html = `<tr><td class="text-center" colspan="9"><span>Không có bản ghi</span></td></tr>`;
                                $tableBody.html(html);
                                return false;
                            }

                            let startIndex = res.Body.Pagination.StartIndex || 1;
                            for (let item of data) {
                                let htmlShow = item.Enable == 1 ? '<span class="text-center green"><i class="text-center green icon-status-ico-tsd"></i></span>' : '<span class="text-center red"><i class="text-center red icon-exit-ico-tsd"></i></span>';
                                html += `<tr class="TR_${item.Id}">` +
                                    `<td class="text-center">${startIndex}</td>` +
                                    `<td class="text-center event-handle">` +
                                    `<i class="icon-edit-ico-tsd btn-action btnEdit blue mr10" data-id="${item.Id}" title="Sửa"></i>` +
                                    `<i class="icon-delete-ico-tsd btn-action btnDelete red" data-id="${item.Id}" title="Xóa"></i>` +
                                    `</td>` +
                                    `<td class="">${item.HoTen}</td>` +
                                    `<td class="">${item.SoGiayTo}</td>` +
                                    `<td class="">${formatDateFromServer(item.NgaySinh)}</td>` +
                                    `<td class="">${item.GioiTinh}</td>` +
                                    `<td class="">${item.DauHieuRuiRo}</td>` +
                                    `<td class="">${item.YeuCauNghiepVu}</td>` +
                                    `<td class="">${item.GhiChu}</td>` +
                                    `</tr>`;
                                startIndex++;
                            }
                            $tableBody.html(html);

                            $pagination.Set($footer, res.Body.Pagination, $page.GetList);

                            $page.ViewClick();
                            $page.DeleteClick();
                        }
                        else {

                        }
                    })
                },
                ViewClick: () => {
                    $page.Self.find('.btnEdit').off('click').on('click', function () {
                        let id = $(this).data('id');

                        var getResponse = AjaxConfigHelper.SendRequestToServer(`/${$router}/GetItem`, "GET", { 'id': id });
                        getResponse.then((res) => {
                            if (res.IsOk) {
                                let data = res.Body.Data || {};
                                for (let prop in data) {
                                    if (prop == 'Enable') {
                                        $modal.find(`[name=${prop}]`).prop('checked', data[prop] == 1);
                                        continue;
                                    }
                                    if (prop.indexOf('Time') > -1 || prop.indexOf('Ngay') > -1) {
                                        data[prop] = formatDateFromServer(data[prop]);
                                    }
                                    $modal.find(`[name=${prop}]`).val(data[prop]);
                                }
                                $modal.modal('show');
                            }
                            else {

                            }
                        })
                    })
                },
                DeleteClick: () => {
                    $page.Self.find('.btnDelete').off('click').on('click', function () {
                        let id = $(this).data('id');

                        ConfirmDelete(function () {
                            var getResponse = AjaxConfigHelper.SendRequestToServer(`/${$router}/Delete`, "POST", { 'id': id });
                            getResponse.then((res) => {
                                if (res.IsOk) {
                                    ToastSuccess("Xóa");
                                    $page.GetList();
                                }
                                else {

                                }
                            })
                        })
                    })
                }
            };

            var $ChiTiet = {
                init: function () {
                    this.Save();
                    this.ResetForm();
                    this.GetInfo();
                },
                Self: $('#CHITIET'),
                ResetForm: () => {
                    $modal.on('hidden.modal.bs', () => {
                        $form.find('input').val('');
                        $form.find('textarea').val('');
                        $form.find('input:checkbox').prop('checked', true);
                        $form.find('select').find('option:first-child').prop('selected', true);
                        $form.validate().resetForm();
                        $form.find('.error').removeClass('error');
                    })
                },
                GetInfo: () => {
                    $modal.find('#btn-getinfo').off('click').on('click', function () {
                        let sgt = $form.find('[name=SoGiayTo]').val();
                        var getResponse = AjaxConfigHelper.SendRequestToServer(`/DHanhKhach/GetItemBySoGiayTo`, "GET", { 'sogiayto': sgt });
                        getResponse.then((res) => {
                            if (res.IsOk) {
                                let data = res.Body.Data || {};
                                for (let prop in data) {
                                    if (prop == 'Enable') {
                                        $form.find(`[name=${prop}]`).prop('checked', data[prop] == 1);
                                        continue;
                                    }
                                    if (prop.indexOf('Time') > -1 || prop.indexOf('Ngay') > -1) {
                                        data[prop] = formatDateFromServer(data[prop]);
                                    }
                                    if (prop == 'GioiTinh') {
                                        $form.find(`[type="radio"][name=${prop}][data-value=${data[prop]}]`).prop('checked', true);
                                        continue;
                                    }
                                    $form.find(`[name=${prop}]`).val(data[prop]);
                                }
                            }
                            else {

                            }
                        })
                    })
                },
                GetDataInput: () => {
                    if (!$form.valid()) {
                        return false;
                    }
                    let data = GetFormDataToObject($form);
                    return data;
                },
                Save: () => {
                    $modal.find('#btn-save').off('click').on('click', () => {
                        let data = $ChiTiet.GetDataInput();
                        if (!data)
                            return false;
                        let action = data.Id > 0 ? 'Update' : 'Create';
                        var getResponse = AjaxConfigHelper.SendRequestToServer(`/${$router}/${action}`, "POST", data);
                        getResponse.then((res) => {
                            if (res.IsOk) {
                                let actionSub = data.Id > 0 ? 'Cập nhật' : 'Thêm mới';
                                ToastSuccess(actionSub);
                                $page.GetList(data.Id > 0 ? null : 1);
                                $modal.modal('hide');
                            }
                            else {

                            }
                        })
                    })
                }
            };


            $page.init();
            $ChiTiet.init();
        });
    </script>
}