
@{
    ViewBag.Title = "Danh sách hành khách";
}

<div class="mx-ecus">
    <div class="card">
        <div class="card-header">
            <div class="card-title bold">@ViewBag.Title</div>
            <div class="card-right">
                <button class="btn btn-primary" id="btn-add" type="button" data-bs-toggle="modal" data-bs-target="#ImportExcel"><i class="fa fa-file-excel-o"></i><span class="ml8">Import Excel</span></button>
                <button class="btn btn-success" id="btn-export" type="button"><i class="fa fa-file-excel"></i><span class="ml8">Export Excel</span></button>
            </div>
        </div>
        <div class="card-body" style="max-height: 929px;">
            <div class="frame-header">
                <div class="frame-search">
                    Từ ngày&nbsp;
                    <div class="inline-block input-group is_Datetimepicker">
                        <input name="StartDate" placeholder="dd/mm/yyyy" class="wid100px item-search input-date form-control-sm" value="@DateTime.Today.ToString("dd/MM/yyyy")">
                        <span class="input-group-addon cursor">
                            <span class="icon-calendar-ico-tsd"></span>
                        </span>
                    </div>
                    &nbsp;đến&nbsp;
                    <div class="inline-block input-group is_Datetimepicker">
                        <input name="EndDate" placeholder="dd/mm/yyyy" class="wid100px item-search input-date form-control-sm" value="@DateTime.Today.ToString("dd/MM/yyyy")">
                        <span class="input-group-addon cursor">
                            <span class="icon-calendar-ico-tsd"></span>
                        </span>
                    </div>
                    <input class="item-search wid200px" autocomplete="off" name="SoGiayTo" placeholder="Số giấy tờ" />
                    <input class="item-search wid200px" autocomplete="off" name="SoHieu" placeholder="Số hiệu chuyến bay" />
                    <input class="item-search wid100px" autocomplete="off" name="NoiDi" placeholder="Điểm xuất phát" />
                    <input class="item-search wid100px" autocomplete="off" name="NoiDen" placeholder="Điểm kết thúc" />

                    <button class="btn btn-secondary" style="height:38px;" id="btn-extend-search" type="button" data-bs-toggle="modal" data-bs-target="#SearchModal"><i class="far fa-filter"></i>&nbsp;Nâng cao&nbsp;<span class="badge">0</span></button>

                    <button class="btn btn-primary btnSearch" type="button"><i class="icon-search-ico-tsd"></i>&nbsp;Tìm kiếm</button>


                </div>
            </div>
            <div class="frame-body has-scroll" style="max-height: 725px;">
                <table class="width100" id="TBLDANHSACH">
                    <thead>
                        <tr>
                            <th class="text-center width75px">STT</th>
                            <th class="text-center wid100px">Số hiệu chuyến bay</th>
                            <th class="text-center wid100px">Ngày bay</th>
                            <th class="text-center wid200px">Họ tên</th>
                            <th class="text-center">Quốc tịch</th>
                            <th class="text-center">Số giấy tờ</th>
                            <th class="text-center">Ngày sinh</th>
                            <th class="text-center">Điểm xuất phát đầu tiên</th>
                            <th class="text-center">Mã sân bay khởi hành</th>
                            <th class="text-center">Mã sân bay đến</th>
                            <th class="text-center">Điểm kết thúc</th>
                            <th class="text-center">Hành lý</th>
                            <th class="text-center">#</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="frame-footer">
                @Html.Partial("_PaginationPartial")
            </div>
        </div>
    </div>
</div>

<div class="modal modal-edit fade" id="ImportExcel" role="dialog" aria-labelledby="exampleModalLabel" data-bs-keyboard="true" aria-bs-hidden="true" data-bs-backdrop="static" style="padding-top: 42px !important;">
    <div class="modal-dialog modal-md modal-dialog-slideout" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    Nhập dữ liệu từ file
                </h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="icon-close-ico-tsd"></i>
                </button>
            </div>
            <div class="modal-body" style="background-color: #FBFBFB">
                <div class="modal-body-content" style="padding: 16px; background-color: #FFFFFF;height: 100%;">
                    <div class="row mb16">
                        
                        <div class="col-md-6">
                            <a href="#">Tải file mẫu</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="file" name="File" class="hidden" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                            <input type="text" class="wid100" name="FileName" readonly disabled />
                            <button class="btn btn-secondary btnChonFile">Chọn file</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-times"></i><span class="ml8">&nbsp;Đóng</span></button>
                <button type="button" class="btn btn-primary" id="btn-import"><i class="fa fa-save"></i><span class="ml8">&nbsp;Lưu lại</span></button>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-edit left fade" id="SearchModal" role="dialog" aria-labelledby="exampleModalLabel" data-bs-keyboard="true" aria-bs-hidden="true" data-bs-backdrop="static" style="padding-top: 42px !important;">
    <div class="modal-dialog modal-sm modal-dialog-slideout" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">
                    Tìm kiếm nâng cao
                </h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="icon-close-ico-tsd"></i>
                </button>
            </div>
            <div class="modal-body" style="background-color: #FBFBFB">
                <div class="modal-body-content" style="padding: 16px; background-color: #FFFFFF;height: 100%;">

                    <div class="row mb16 d-flex align-items-center">
                        <div class="col-md-3">
                            Họ tên
                        </div>
                        <div class="col-md-9">
                            <input class="item-search wid100" autocomplete="off" name="HoTen" placeholder="Họ tên" />
                        </div>
                    </div>
                    <div class="row mb16 d-flex align-items-center">
                        <div class="col-md-3">
                            Quốc tịch
                        </div>
                        <div class="col-md-9">
                            <input class="item-search wid100" autocomplete="off" name="QuocTich" placeholder="QuocTich" />
                        </div>
                    </div>
                    <div class="row mb16 d-flex align-items-center">
                        <div class="col-md-3">
                            Thuộc danh mục
                        </div>
                        <div class="col-md-9">
                            <select class="item-search wid200px" name="ObjectType">
                                <option value="">--Là hành khách--</option>
                                <option value="0">Hành khách đi lại nhiều</option>
                                <option value="1">Hành khách VIP</option>
                                <option value="2">Đối tượng trọng điểm</option>
                                <option value="3">Đối tượng theo dõi đặc biệt</option>
                                <option value="4">Đối tượng đã kiểm tra</option>
                                <option value="5">Đối tượng theo dõi</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-times"></i><span class="ml8">&nbsp;Đóng</span></button>
                <button type="button" class="btn btn-primary" id="btn-search"><i class="fa fa-search"></i><span class="ml8">&nbsp;Tìm kiếm</span></button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/HanhKhach/DHanhKhach.js"></script>
}